<head>
    <title>CDD Center</title>
    <!--CSS-->
    <link rel="stylesheet" href="/css/cddstyle.css">
    <!--Imported fonts-->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
    </head>

<body>
    <h1>Compulsive Dabbing Disorder Center</h1>
    <div id="intro">
    <img id="dabbing" src="images/dabbing.jpg"></img>
    <h2>No child should end up like this.</h2>
    <p id="quote">"She...needs help"<br>   <i>~an actual quote from her sister</i></p>
    <div id="whatis">
    <p>Compulsive Dabbing Disorder (or CDD) is a medical condition in which the patient develops a psychological need to dab at inopportune moments. In nearly 100% of cases, it results in social isolation for the patient and intense suffering for those around him/her. If you or a loved one begins to show signs of CDD, get help immediately. </p><br>
    </div></div>
    <img id="warningimg" src="images/warning.jpg"></img>
    <h3>The Warning Signs</h3>
    <p id="warningtxt">Indicators of CDD tend to become apparent during the later stages of adolescence (16+), but they may manifest in children as young as 12 or 13. The most common symptoms include dabbing via text message (AKA "Virtual Dabbing"--see Figure 2), excessive use of exclamatory phrases such as "ayyyyy" or "yeeee" or "lit lit lit" whilst dabbing, or frequent "celebratory dabs" for events that do not deserve celebration. The possibility of CDD should be considered for any patient with a dab rate of more than three times per hour. </p>

    <h3>Treatment Options</h3>
    <p>Living alongside someone who suffers from CDD can be extremely difficult--in some cases, nearly impossible--so many families opt for professional treatment. The most common remedy for minor cases is a "dab jar": a system in which the patient is fined for every unsolicited dab they perform. If the dabbing persists, medical professionals recommend using a squirt bottle to discipline the patient after every uneccessary dab performed (similar to the way domesticated animals are "house-trained"). Firm verbal commands, such as "NO" or "BAD,"  may be helpful. It can be tempting to give up hope, but CDD Center is here for you!</p>
    <h3>Questions?</h3>
    <p>Feel free to contact help@cdd.org with any questions you may have. For a quick way to calculate dab jar fines, visit <a href="/dabjarcalculator.erb">here.</a></p>
    <br><br>
    <a href = "/">Back</a>
</body>