<head>
    <title>Aaah! The page you requested is under construction.</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body>
    <h1>Aaah! The page you requested is under construction.</h1>
    <p class="subtitle">Don't worry, I'll put something up soon (remind me).</p>
    <a href="/">Back</a>
</body>