 <head>
        <title>Dab Jar Calculator</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    </head>
    <body>
        <h1>Dab Jar Calculator</h1>
        <p class="subtitle">How much do they owe? Calculate it!</p>
        <form method="post" action="/totalfine">
            <label for="frequency">How many times has the subject dabbed in the past hour? </label><br>
            <input class="inputbox" type="number" name="dabfrequency"><br><br>
            <label for="ayys">How many times did the subject accompany said dabs with a noise or exclamation, such as "ayyy"?</label><br>
            <input class="inputbox" type="number" name="ayys"><br><br>

            <label for="dabduration">On average, how many seconds did each dab last? </label><br>
            <input class="inputbox" type="number" name="dabduration"><br><br>
            
            
            <input class="button" type="submit" value="Calculate!">
        </form>
        <a href="/">Back</a>
    </body>
    
</html>