<head>
    <title>Katie's programming stuff</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body>
    <h1>Katie's programming stuff</h1>
    <p class="subtitle">A site to organize Katie's programming stuff</p>
    <ul>
        <li>Summer 2017</li>
        <ul>
            <li><a href="meganproofer.erb">megan-proofer</a><i> (June 2017) cleans up language of input</i> </li>
            <li><a href="bananasforscale.erb">bananas for scale</a><i> (June 2017) converts measurements into useless units</i> </li>
            <li><a href="dabjarcalculator.erb">dab jar calculator </a><i> (June 2017) calculates the total fine to be paid to the dab jar (for Anisha)</i> </li>
            <li><a href="cdd.erb">CDD Center</a><i> (July 2017) mostly just for practice with css--and, of course, spreading the word about this urgent cause</i></li>
            <li><a href="javaprojects.erb">some .java projects</a><i> (August 2017) mostly weird little games that run in the console</i></li>
        </ul>
        <li>2017-2018 school year</li>
        <ul>
            <li><a href="/downloads/Farrell_BinaryClock.zip" download>binary clock</a><i>(November 2017)</i> a clock that represents the current hour, minute, and second in binary dots.</li>
            <li><a href="/downloads/TicTacToe.zip" download>tic tac toe</a><i>(December 2017)</i> now with better graphics! </li>
            <li><a href="/downloads/Bored.zip" download>animated loop</a><i>(March 2018)</i> natural/urban scenes that keep panning forever.</li>
            <li><a href="/downloads/Minesweeper.zip" download>minesweeper</a><i>(April 2018)</i> the classic "bored with no internet" game, but with a better color scheme. First time implementing KeyListener and MouseListener!</li>
            <li><a href="/downloads/SchnallTalk.zip" download>SchnallTalk</a><i>(April 2018)</i> currently the world's most realistic Will Schnall AI.</li>
        </ul>
        <li>more coming soon!</li>
    </ul>
</body>