<head>
    <title>Katie's programming stuff</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body>
    <h1>Katie's programming stuff</h1>
    <p class="subtitle">A site to organize Katie's programming stuff</p>
    <ul>
        <li>Summer 2017</li>
        <ul>
            <li><a href="meganproofer.erb">megan-proofer</a><i> (June 2017) cleans up language of input</i> </li>
            <li><a href="bananasforscale.erb">bananas for scale</a><i> (June 2017) converts measurements into useless units</i> </li>
            <li><a href="dabjarcalculator.erb">dab jar calculator </a><i> (June 2017) calculates the total fine to be paid to the dab jar (for Anisha)</i> </li>
            <li><a href="cdd.erb">CDD Center</a><i> (July 2017) mostly just for practice with css--and, of course, spreading the word about this urgent cause</i></li>
            <li><a href="javaprojects.erb">some .java projects</a><i> (August 2017) mostly weird little games that run in the console</i></li>
        </ul>
        <li>2017-2018 school year</li>
        <ul>
            <li><a href="/downloads/Farrell_BinaryClock.zip" download>binary clock</a><i> (November 2017) a clock that represents the current hour, minute, and second in binary dots.</i></li>
            <li><a href="/downloads/TicTacToe.zip" download>tic tac toe</a><i> (December 2017) now with better graphics!</i></li>
            <li><a href="/downloads/DanceEggS.zip" download>dance egg</a><i> (March 2018) kind of stupid. I was bored.</i></li>
            <li><a href="/downloads/Bored.zip" download>animated loop</a><i> (March 2018) java animated forest/city scenes that keep panning forever.</i></li>
            <li><a href="/downloads/Minesweeper.zip" download>minesweeper</a><i> (April 2018) the classic "bored with no internet" game, but with a better color scheme. First time implementing KeyListener and MouseListener (wow)</i></li>
            <li><a href="/downloads/SchnallTalk.zip" download>SchnallTalk</a><i> (April 2018) currently the world's most realistic Will Schnall AI.</i></li>
        </ul>
        <li>Summer 2018</li>
        <ul>
            <li><a href="/downloads/LEDblinker.zip" download>LED blinker</a><i> (July 2018) uses Arduino. Takes input from the computer ("0", "1", "2", "3") and blinks the corresponding LED. </i></li>
            <li><a href="/downloads/simplemotionsensor.ino" download>Motion sensor</a><i> (July 2018) turns on an LED when motion is detected by the sensor.</i></li>
            <li><a href="/downloads/toyproject.zip</li>" download>Arduino foam toys</a><i> (July 2018) a few examples of a toy project for my program at the Carver Center summer camp.</i>
        </ul>
        <li>2018-2019 school year</li>
        <ul>
            <li><a href="/downloads/TheOKButton.zip" download>The OK Button</a><i> (Rebooted September 2018, originally ~2017) first AppleScript. Press OK to press the OK button!</i></li>
            <li><a href="/downloads/dino_game.scpt" download>No Wifi Chrome Game Bot</a><i> (December 2018) disgusting, poorly-written script that rapidly forces the space key which I use to play the Chrome no connection dino game. Got >100 one time</i></li>
            <li><a href="/downloads/sleepreminder.scpt" download>Sleep, Bitchass</a><i> (December 2018) a gentle reminder to sleep sent via text every hour from 11pm to 4am.</i></li>
            <li><a href="/downloads/rcdsnews.py" download>RCDS News Simulator</a><i> (December 2018) "CLUB MEETING, WILL HAVE FOOD"</i></li>
            <li><a href="/downloads/tree.py" download>Fractal Tree</a><i> (January 2019) uses Python Turtle graphics to draw a fractal fall-colored tree.</i></li>
            <li><a href="/downloads/fractalmountain.py" download>Fractal Mountain</a><i> (January 2019) uses Python Turtle graphics to draw a fractal mountain.</i></li>
            <li><a href="/downloads/nemoproj.zip" download>TI Nemo</a><i> (February 2019) lets you move around the screen and eat dots -- written on my calculator in TI Basic. Tedious but weirdly fun, 9/10 never paying attention in math again</i></li>
        </ul>
        <li>more coming soon!</li>
    </ul>
</body>