<head>
    <title>Katie's programming stuff</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body>
    <h1>Katie's programming stuff</h1>
    <p class="subtitle">A site to organize Katie's programming stuff (below)...</p>
    <ul>
        <li><a href="meganproofer.erb">megan-proofer</a><i> (June 2017) cleans up language of input</i> </li>
        <li><a href="bananasforscale.erb">bananas for scale</a><i> (June 2017) converts measurements into useless units</i> </li>
        <li><a href="dabjarcalculator.erb">dab jar calculator </a><i> (June 2017) calculates the total fine to be paid to the dab jar (for Anisha)</i> </li>

        <li>more coming soon!</li>
    </ul>
</body>