<head>
    <title>Java projects</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body>
    <h1>Java Projects</h1>
    <p>Clicking these links will download the file(s) onto your computer. If there is no readme included, use Terminal to navigate to the directory where the file is saved and type "java [Filename]" to run the file. Do not include the file extension (ex. "Filename.class" or "Filename.java")</p>
    <li><a href="/downloads/Battleship.class" download>battleship</a></li>
    <li><a href="/downloads/Blackjack.zip" download>blackjack</a></li>
    <li><a href="/downloads/Connectfour.class" download>connect four</a></li>
    <li><a href="/downloads/Tictactoe.class" download>tic tac toe</a></li>
    <li>more coming soon!</li>
</body>