<head>
    <title>Megan-proofer</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body>
    <h1>Megan-proofer</h1>
    <p class="subtitle">Clean up language fast!</p>
   <form method="post" action="/meganproofd">
        <label for="string">Enter a sentence for megan-proofing: </label>
        <input class="inputbox" type="text" name="string">
        <input class="button" type="submit" value="Submit">
    </form>
    <a href="/">Back</a>
</body>