<html>
    <head>
        <title>Megan-proofer</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
        
    </head>
    <body>
        <h1>Megan-proofer</h1>
        <p class="subtitle">Cleans up language fast!</p>
        <h3>New sentence:</h3>
        <p><%=@proofdanswer%></p>
        <br><a href="meganproofer.erb">Back</a><br>
        <a href="/">Back to home</a>
    </body>
</html>