 <head>
        <title>Dab Jar Calculator</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    </head>
    <body>
        <h1>Dab Jar Calculator</h1>
        <p class="subtitle">How much do they owe? Calculate it!</p>
        <p>Subject owes $<%=@fine%> to the Dab Jar. </p>
        <a href="/dabjarcalculator.erb">Back</a><br>
        <a href="/">Back to home</a>

    </body>
    
</html>