<html>
    <head>
        <title>Useless Units Converter</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    
    </head>
    <body>
        <h1>Useless Units Converter</h1>
        <p class="subtitle">How many corgis do you weigh? How many Joe Bidens tall is the Eiffel Tower? Calculate the answers to these pressing questions with Useless Units Converter™!</p>
        <h3>Answer:</h3>
        <p>That's roughly <%=@uselessanswer.round(3)%> <%=@newunit%>!</p>
        <br><a href="bananasforscale.erb">Back</a><br>
        <a href="/">Back to home</a>
    </body>
</html>